body {
  font-family: "Krona One", sans-serif;
  margin-left: 100px;
  overflow-x: hidden;
}

.opBlack {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 200px;
  background: black;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(black),
    to(rgba(0, 212, 255, 0))
  );
  background: linear-gradient(180deg, black 0%, rgba(0, 212, 255, 0) 100%);
}

#contactUs {
  padding: 50px 0px;
  .container-fluid {
    .row {
      .col-lg-4 {
        display: flex;
        justify-content: center;
        &:nth-child(2) {
          .box {
            background-color: #b0ca0b;
            i {
              color: black;
            }
          }
        }
        .box {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          border: 2px solid #b0ca0b;
          gap: 30px;
          padding: 30px;
          text-align: center;
          height: 204px;
          max-width: 303px;
          width: 100%;
          i {
            font-size: 30px;
            color: #b0ca0b;
          }
          a {
            color: #000;
            text-decoration: none;
            -webkit-transition: 0.5s;
            transition: 0.5s;
            font-family: "Krona One", sans-serif;
          }
        }
      }
    }
  }
}
