body {
  font-family: "Krona One", sans-serif;
  margin-left: 100px;
  overflow-x: hidden;
}

#top {
  position: relative;
  background-color: #000;
  z-index: 1;
  .container-fluid {
    .row {
      .col-12 {
        padding: 0px;
        .centerArea {
          height: 486px;
          content: "";
          left: 0;
          top: 0;
          width: 100%;
          background-image: url("../../img/missionBackground.png");
          background-repeat: no-repeat;
          background-size: 100%;
          background-position: center;
          z-index: -1;
          .title {
            margin: 0 auto;
            margin-left: 220px;
            padding-top: 170px;
            h2 {
              font-size: 46px;
              color: #b0ca0b;
            }
            p {
              color: #efefef;
              font-size: 18px;
              line-height: 28px;
              max-width: 75%;
            }
            .list {
              position: relative;
              padding-top: 2rem;
              ul {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                gap: 30px;
                li {
                  position: relative;
                  color: #b0ca0b;
                  font-size: 12px;
                  a {
                    color: white;
                    text-decoration: unset;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
#sectionMissionVision {
  .fastMenu {
    padding: 50px;
    padding-right: 40px;
    padding-left: 30%;
    background-color: #b0ca0b;
    display: block;
    text-align: end;
    height: 100%;
    h5 {
      font-size: 36px;
      font-weight: 900;
      text-align: start;
      color: black;
      margin-bottom: 20px;
    }
    a {
      height: 50px;
      display: flex;
      border: 2px solid #000;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 10px;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 1px;
      margin-bottom: 10px;
      color: #000;
      text-decoration: none;
      transition-duration: 1s;
      &:hover {
        transition-duration: 1s;
        background-color: black;
        color: #b0ca0b;
      }
    }
  }
  .missionVision {
    background-color: black;
    height: 100%;
    padding: 40px;
    .title {
      h3 {
        margin-bottom: 1rem;
        margin-top: 0;
        color: #b0ca0b;
      }
      .vision,
      .mission {
        h5,
        p {
          color: #fff;
          font-size: 15px;
          margin-bottom: 15px;
          line-height: 22px;
          margin-bottom: 0px;
          font-family: "Montserrat", sans-serif;
          font-weight: 700;
        }
      }
      .vision {
        margin-bottom: 80px;
      }
    }
  }
}
#sectionNumbers {
  display: flex;
  justify-content: center;
  margin: 120px 0px;
  .container {
    .row {
      .col-4 {
        display: flex;
        justify-content: center;
        .circle {
          height: 350px;
          width: 350px;
          display: grid;
          align-content: center;
          text-align: center;
          color: white;
          background-image: url("../../img/circle.png");
          background-position: center;
          background-repeat: no-repeat;
          background-size: 100% 100%;
          h1,
          h2 {
            margin: 0px;
          }
          h1,
          span {
            color: #b0ca0b;
            margin-bottom: 0;
            font-size: 30px;
            color: #b0ca0b;
          }
          p {
            font-size: 16px;
            font-family: "Montserrat", sans-serif;
            margin: 0px;
          }
        }
      }
    }
  }
}
#mobileAdvert {
  margin: 120px 0px;
  .container-fluid {
    .row {
      .col-6 {
        .phoneImg {
          img {
            width: 100%;
            height: 100%;
            &::before {
              content: "";
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              -webkit-transform: translate(-50%, -50%);
              -moz-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
              -o-transform: translate(-50%, -50%);
              width: 500px;
              height: 500px;
              border-radius: 100%;
              background-color: #b0ca0b;
            }
          }
        }
      }
      .col-6 {
        .title {
          padding-right: 80px;
          height: 100%;
          display: grid;
          place-content: center;
          h3 {
            color: #b0ca0b;
            line-height: 50px;
            letter-spacing: 0.15em;
            margin-bottom: 0;
            font-weight: 400;
          }
          p {
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            letter-spacing: 0.1em;
            margin: 30px 0px;
            font-family: "Montserrat", sans-serif;
          }
        }
      }
    }
  }
}
