body {
  font-family: "Krona One", sans-serif;
  margin-left: 100px !important;
  overflow-x: hidden;
}

@font-face {
  font-family: "Krona One";
  src: url("../font/KronaOne-Regular.ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-VariableFont_wght.ttf");
  font-weight: 200;
  font-style: normal;
}

#SectionTop {
  position: relative;
  height: 100vh;
  .container {
    height: 100%;
    .row {
      height: 100%;
      .col-12 {
        display: flex;
        place-self: center;
        .main-background {
          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
            z-index: -1;
            object-fit: cover;
          }
        }
        .title {
          h3 {
            color: white;
            letter-spacing: 10px;
            line-height: 50px;
            margin-bottom: 30px;
          }
          a {
            width: max-content;
            grid-area: 2 / 2 / 3 / 3;
            color: #fff;
            background-color: transparent;
            text-decoration: none;
            border: 2px solid #b0ca0b;
            padding: 10px 20px;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 14px;
            letter-spacing: 2px;
          }
        }
        .subTitle {
          position: absolute;
          right: 100px;
          bottom: 50px;
          p {
            border: 2px solid #b0ca0b;
            display: block;
            padding: 10px 15px;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 500;
            letter-spacing: 1px;
            color: #fff;
          }
        }
      }
    }
  }
}
#sectionNumbers {
  display: flex;
  justify-content: center;
  margin: 120px 0px;
  .container {
    .row {
      .col-lg-4 {
        display: flex;
        justify-content: center;
        .circle {
          height: 350px;
          width: 350px;
          display: grid;
          align-content: center;
          text-align: center;
          color: white;
          background-image: url("../img/circle.png");
          background-position: center;
          background-repeat: no-repeat;
          background-size: 100% 100%;
          h1,
          h2 {
            margin: 0px;
          }
          h1,
          span {
            color: #b0ca0b;
            margin-bottom: 0;
            font-size: 30px;
            color: #b0ca0b;
          }
          p {
            font-size: 16px;
            font-family: "Montserrat", sans-serif;
            margin: 0px;
          }
        }
      }
    }
  }
}
#mobileAdvert {
  margin: 120px 0px;
  .container-fluid {
    .row {
      .col-lg-6 {
        .phoneImg {
          position: relative;
          img {
            width: 100%;
            height: 100%;
          }
          &::before {
            z-index: -1;
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            width: 500px;
            height: 500px;
            border-radius: 100%;
            background-color: #b0ca0b;
          }
        }
      }
      .col-lg-6 {
        .title {
          padding-right: 80px;
          height: 100%;
          display: grid;
          place-content: center;
          h3 {
            color: #b0ca0b;
            line-height: 50px;
            letter-spacing: 0.15em;
            margin-bottom: 0;
            font-weight: 400;
          }
          p {
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            letter-spacing: 0.1em;
            margin: 30px 0px;
            font-family: "Montserrat", sans-serif;
          }
        }
      }
    }
  }
}
#greenCharge {
  .container-fluid {
    .row {
      .col-lg-4 {
        padding: 0px;
        position: relative;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .col-lg-8 {
        padding: 0px;
        .title {
          grid-area: 1 / 2 / 2 / 3;
          background-color: #b0ca0b;
          padding: 98px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          gap: 15px;
          height: 100%;
          h3 {
            line-height: 50px;
            letter-spacing: 0.15em;
            margin-bottom: 0;
          }
          p {
            font-family: "Montserrat", sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            letter-spacing: 0.1em;
            padding-right: 5px;
          }
          a {
            text-align: center;
            border: 2px solid #000;
            padding: 12px 20px;
            font-weight: 300;
            width: 220px;
            text-decoration: none;
            color: black;
            transition-duration: 0.8s;
            margin-bottom: 120px;
          }
        }
      }
    }
  }
}
#blackSection {
  .container-fluid {
    .row {
      .col-lg-4 {
        padding: 0px;
        position: relative;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .col-lg-8 {
        padding: 0px;
        .title {
          grid-area: 1 / 2 / 2 / 3;
          background-color: black;
          padding: 98px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          gap: 15px;
          color: #b0ca0b;
          align-items: self-end;
          height: 100%;
          h3 {
            line-height: 50px;
            letter-spacing: 0.15em;
            text-align: end;
            margin-bottom: 0;
          }
          p {
            font-family: "Montserrat", sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            letter-spacing: 0.1em;
            padding-right: 5px;
            color: white;
            text-align: end;
          }
          a {
            text-align: center;
            border: 2px solid #b0ca0b;
            padding: 12px 20px;
            font-weight: 300;
            width: 220px;
            text-decoration: none;
            color: white;
            transition-duration: 0.8s;
            margin-bottom: 120px;
          }
        }
      }
    }
  }
}
#chargingStations {
  margin: 60px 0px;
  margin-top: 120px;
  .container-fluid {
    .row {
      .col-12 {
        .mySwiper {
          .swiper-wrapper {
            .swiper-slide-prev,
            .swiper-slide-next {
              scale: 0.6;
              opacity: 0.6;
            }
            .swiper-slide-active {
              scale: 1;
              opacity: 1;
            }
            .swiper-slide {
              .content {
                position: relative;
                background-color: #b0ca0b;
                padding: 54px;
                position: relative;
                border-radius: 52px;
                -webkit-transition: 0.5s;
                transition: 0.5s;
                text-align: end;
                margin: 70px;
                margin-left: 0px;
                .text {
                  text-align: end;
                  display: grid;
                  justify-items: end;
                  padding-right: 210px;
                  h5 {
                    font-size: 26px;
                    line-height: 50px;
                    letter-spacing: 0.15em;
                    margin-bottom: 0;
                  }
                  p {
                    text-align: right;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 24px;
                    font-family: "Montserrat", sans-serif;
                    color: black;
                    font-weight: 900;
                    margin-top: 30px;
                  }
                  a {
                    border: 1px solid #000;
                    color: #fff;
                    padding: 10px 25px;
                    text-decoration: unset;
                    margin-top: 30px;
                    display: flex;
                    width: 200px;
                  }
                }
                img {
                  position: absolute;
                  height: 450px;
                  top: 50%;
                  transform: translateY(-50%);
                  right: -130px;
                }
              }
            }
          }
          .swiper-pagination {
            display: flex;
            justify-content: center;
            align-items: center;
            transition-duration: 0.6s;
          }
          .swiper-pagination-bullet {
            width: 26px;
            height: 26px;
            background-color: #bcbcbc;
            border-radius: 100%;
            cursor: pointer;
            transition-duration: 0.6s;
          }
          .swiper-pagination-bullet-active {
            width: 42px;
            height: 42px;
            background-color: #b0ca0b;
            transition-duration: 0.6s;
          }
        }
        .title {
          position: relative;
          display: flex;
          justify-content: center;
          h4 {
            background-color: #fff;
            padding: 0 15px;
            margin: 0;
            text-align: center;
            display: grid;
            z-index: 1;
            font-weight: 400;
            position: relative;
            width: 420px;
          }
          &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 13px;
            width: 100%;
            height: 2px;
            background-color: #b0ca0b;
          }
        }
      }
    }
  }
}
#solutions {
  margin: 60px 0px;
  position: relative;
  .container-fluid {
    .row {
      .col-12 {
        .mySwiperTwo {
          width: 90%;
          .swiper-wrapper {
            .swiper-slide {
            }
            .swiper-slide-prev,
            .swiper-slide-next {
            }
            .swiper-slide-active {
            }
            .swiper-slide {
              .content {
                position: relative;
                padding: 54px 20px;
                -webkit-transition: 0.5s;
                transition: 0.5s;
                text-align: end;
                margin-left: 0px;
                img {
                  width: 100%;
                  height: auto;
                }
              }
            }
          }
          .swiper-pagination {
            display: none;
            justify-content: center;
            align-items: center;
            transition-duration: 0.6s;
          }
          .swiper-pagination-bullet {
          }
          .swiper-pagination-bullet-active {
          }
        }
        .swiper-button-prev {
          width: 60px;
          height: 30px;
          font-size: 0px;
          left: 2%;
          top: 50%;
          transform: translateY(20px);
          &::after {
            background-image: url("../img/icon/right-arrow.png");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-position: center;
            transform: rotate(180deg);
            width: 30px;
            height: 30px;
            font-size: 0px;
          }
        }
        .swiper-button-next {
          width: 60px;
          height: 30px;
          font-size: 0px;
          top: 50%;
          right: 2%;
          transform: translateY(20px);
          &::after {
            background-image: url("../img/icon/right-arrow.png");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-position: center;
            width: 30px;
            height: 30px;
            font-size: 0px;
          }
        }
        .title {
          position: relative;
          display: flex;
          justify-content: center;
          h4 {
            background-color: #fff;
            padding: 0 15px;
            margin: 0;
            text-align: center;
            display: grid;
            z-index: 1;
            font-weight: 400;
            position: relative;
            width: 420px;
          }
          &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 13px;
            width: 100%;
            height: 2px;
            background-color: #b0ca0b;
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  #sectionNumbers {
    margin: 60px 0px;
    .container {
      .row {
        .col-lg-4 {
          .circle {
            height: 250px;
            width: 250px;
            h1,
            h2 {
            }
            h1,
            span {
              font-size: 20px;
            }
            p {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
  #mobileAdvert {
    margin: 60px 0px;
    .container-fluid {
      .row {
        .col-lg-6 {
          .phoneImg {
            img {
            }
            &::before {
              width: 400px;
              height: 400px;
            }
          }
        }
        .col-lg-6 {
          .title {
            h3 {
              line-height: 26px;
              font-size: 20px;
            }
            p {
              margin: 20px 0px;
              font-size: 14px;
              line-height: 22px;
            }
            img {
              width: 150px;
              height: auto;
            }
          }
        }
      }
    }
  }
  #greenCharge {
    .container-fluid {
      .row {
        .col-lg-4 {
          img {
          }
        }
        .col-lg-8 {
          .title {
            gap: 0px;
            h3 {
              line-height: 26px;
              font-size: 20px;
            }
            p {
              margin: 20px 0px;
              font-size: 14px;
              line-height: 22px;
            }
            a {
              font-size: 12px;
              width: 160px;
              padding: 8px 20px;
              margin-bottom: 0px;
            }
          }
        }
      }
    }
  }
  #blackSection {
    .container-fluid {
      .row {
        .col-lg-4 {
          img {
          }
        }
        .col-lg-8 {
          .title {
            gap: 0px;
            h3 {
              line-height: 26px;
              font-size: 20px;
            }
            p {
              margin: 20px 0px;
              font-size: 14px;
              line-height: 22px;
            }
            a {
              font-size: 12px;
              width: 160px;
              padding: 8px 20px;
              margin-bottom: 0px;
            }
          }
        }
      }
    }
  }
  #chargingStations {
    margin-top: 60px;
    .container-fluid {
      .row {
        .col-12 {
          .mySwiper {
            .swiper-wrapper {
              margin: 40px 0px;
              .swiper-slide-prev,
              .swiper-slide-next {
              }
              .swiper-slide-active {
              }
              .swiper-slide {
                .content {
                  border-radius: 0px;
                  padding-right: 240px;
                  margin: 70px 0px;
                  .text {
                    padding-right: 0px;
                    h5 {
                      font-size: 18px;
                      line-height: 24px;
                    }
                    p {
                    }
                    a {
                      font-size: 12px;
                      width: 160px;
                      padding: 8px 20px;
                      margin-bottom: 0px;
                      margin-top: 0px;
                    }
                  }
                  img {
                    right: 0px;
                    height: 300px;
                  }
                }
              }
            }
            .swiper-pagination {
            }
            .swiper-pagination-bullet {
              width: 12px;
              height: 12px;
            }
            .swiper-pagination-bullet-active {
              width: 22px;
              height: 22px;
            }
          }
          .title {
            h4 {
            }
            &::before {
            }
          }
        }
      }
    }
  }
  #solutions {
    .container-fluid {
      .row {
        .col-12 {
          .mySwiperTwo {
            .swiper-wrapper {
              .swiper-slide {
              }
              .swiper-slide-prev,
              .swiper-slide-next {
              }
              .swiper-slide-active {
              }
              .swiper-slide {
                .content {
                  img {
                  }
                }
              }
            }
            .swiper-pagination {
            }
            .swiper-pagination-bullet {
            }
            .swiper-pagination-bullet-active {
            }
          }
          .swiper-button-prev {
            &::after {
              width: 20px;
              height: 20px;
            }
          }
          .swiper-button-next {
            &::after {
              width: 20px;
              height: 20px;
            }
          }
          .title {
            h4 {
            }
            &::before {
            }
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  body {
    margin-left: 50px !important;
  }
  #mobileAdvert {
    margin: 60px 0px;
    .container-fluid {
      .row {
        .col-lg-6 {
          .phoneImg {
            img {
            }
            &::before {
              width: 300px;
              height: 300px;
            }
          }
        }
        .col-lg-6 {
          .title {
            padding: 10%;
            text-align: center;
            justify-content: center;
            h3 {
              text-align: center;
            }
            p {
              text-align: center;
            }
            img {
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #SectionTop {
    .container {
      .row {
        .col-12 {
          .main-background {
            img {
            }
          }
          .title {
            text-align: center;
            h3 {
            }
            a {
            }
          }
          .subTitle {
            left: 50%;
            transform: translateX(-50%);
            position: absolute;
            right: 0px;
            width: 230px;
            p {
            }
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  body {
  }
  #SectionTop {
    .container {
      .row {
        .col-12 {
          .main-background {
            img {
            }
          }
          .title {
            h3 {
              font-size: 16px;
              line-height: 28px;
            }
            a {
              font-size: 12px;
            }
          }
          .subTitle {
            p {
            }
          }
        }
      }
    }
  }
  #greenCharge {
    .container-fluid {
      .row {
        .col-lg-4 {
          img {
          }
        }
        .col-lg-8 {
          .title {
            padding: 40px;
            text-align: center;
            gap: 0px;
            display: block;
            justify-self: center;
            h3 {
              line-height: 26px;
              font-size: 20px;
            }
            p {
              margin: 20px 0px;
              font-size: 14px;
              line-height: 22px;
            }
            a {
              font-size: 12px;
              width: 160px;
              padding: 8px 20px;
              margin-bottom: 0px;
            }
          }
        }
      }
    }
  }
  #blackSection {
    .container-fluid {
      .row {
        .col-lg-4 {
          img {
          }
        }
        .col-lg-8 {
          .title {
            padding: 40px;
            text-align: center;
            gap: 0px;
            display: block;
            justify-self: center;
            h3 {
              line-height: 26px;
              text-align: center;
              font-size: 20px;
            }
            p {
              margin: 20px 0px;
              text-align: center;
              font-size: 14px;
              line-height: 22px;
            }
            a {
              font-size: 12px;
              width: 160px;
              padding: 8px 20px;
              margin-bottom: 0px;
            }
          }
        }
      }
    }
  }
  #chargingStations {
    margin-top: 40px;
    .container-fluid {
      .row {
        .col-12 {
          .mySwiper {
            .swiper-wrapper {
              margin: 40px 0px;
              .swiper-slide-prev,
              .swiper-slide-next {
              }
              .swiper-slide-active {
              }
              .swiper-slide {
                .content {
                  margin: 0px 0px;
                  display: block;
                  text-align: center;
                  padding: 30px 54px;
                  .text {
                    justify-items: center;
                    h5 {
                      text-align: center;
                    }
                    p {
                      text-align: center;
                    }
                    a {
                    }
                  }
                  img {
                    margin-top: 30px;
                    position: unset;
                    transform: unset;
                  }
                }
              }
            }
            .swiper-pagination {
            }
            .swiper-pagination-bullet {
            }
            .swiper-pagination-bullet-active {
            }
          }
          .title {
            h4 {
              font-size: 16px;
            }
            &::before {
            }
          }
        }
      }
    }
  }
  #sectionNumbers {
    margin: 30px 0px;
    .container {
      .row {
        .col-lg-4 {
          .circle {
            height: 200px;
            width: 200px;
            h1,
            h2 {
              font-size: 12px;
              margin: 6px !important;
            }
            h1,
            span {
              font-size: 20px;
            }
            p {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
  #solutions {
    .container-fluid {
      .row {
        .col-12 {
          .mySwiperTwo {
            .swiper-wrapper {
              .swiper-slide {
              }
              .swiper-slide-prev,
              .swiper-slide-next {
              }
              .swiper-slide-active {
              }
              .swiper-slide {
                .content {
                  img {
                  }
                }
              }
            }
            .swiper-pagination {
            }
            .swiper-pagination-bullet {
            }
            .swiper-pagination-bullet-active {
            }
          }
          .swiper-button-prev {
            transform: translateY(20px);
            &::after {
              width: 20px;
              height: 20px;
            }
          }
          .swiper-button-next {
            transform: translateY(20px);
            &::after {
            }
          }
          .title {
            h4 {
              font-size: 16px;
            }
            &::before {
            }
          }
        }
      }
    }
  }
  #mobileAdvert {
    .container-fluid {
      .row {
        .col-lg-6 {
          .phoneImg {
            img {
            }
            &::before {
              width: 220px;
              height: 220px;
            }
          }
        }
        .col-lg-6 {
          .title {
            h3 {
            }
            p {
            }
            img {
            }
          }
        }
      }
    }
  }
}

@media (max-width: 450px) {
  #chargingStations {
    .container-fluid {
      .row {
        .col-12 {
          .mySwiper {
            .swiper-wrapper {
              .swiper-slide-prev,
              .swiper-slide-next {
              }
              .swiper-slide-active {
              }
              .swiper-slide {
                .content {
                  .text {
                    h5 {
                    }
                    p {
                    }
                    a {
                    }
                  }
                  img {
                    width: 100%;
                    height: auto;
                  }
                }
              }
            }
            .swiper-pagination {
            }
            .swiper-pagination-bullet {
            }
            .swiper-pagination-bullet-active {
            }
          }
          .title {
            h4 {
            }
            &::before {
            }
          }
        }
      }
    }
  }
  #mobileAdvert {
    .container-fluid {
      .row {
        .col-lg-6 {
          .phoneImg {
            img {
            }
            &::before {
            }
          }
        }
        .col-lg-6 {
          .title {
            h3 {
            }
            p {
            }
            img {
            }
          }
        }
      }
    }
  }
}
