@font-face {
  font-family: "Krona One";
  src: url("../../font/KronaOne-Regular.ttf");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../font/Montserrat-VariableFont_wght.ttf");
  font-weight: 200;
  font-style: normal;
}
header {
  padding: 2rem 0;
  z-index: 9;
  left: 100px;
  position: absolute;
  width: -webkit-fill-available;
  top: 0px;
}
header nav {
  display: flex;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
header nav ul {
  padding: 0px;
  display: flex;
  gap: 30px;
}
header nav ul li {
  list-style-type: none;
}
header nav ul li a {
  list-style-type: none;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #fff;
}
header nav ul li a:hover {
  color: white;
}
header nav .buttonRight li a {
  border: 2px solid #b0ca0b;
  display: block;
  padding: 10px 15px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #fff;
  transition-duration: 0.8s;
}
header nav .buttonRight li a:hover {
  transition-duration: 0.8s;
  background-color: #b0ca0b;
  color: #000;
}
header #menu-wrapper {
  overflow: hidden;
  max-width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
header #menu-wrapper #hamburger-menu {
  position: relative;
  width: 25px;
  height: 20px;
  margin: 15px;
}
header #menu-wrapper #hamburger-menu span {
  opacity: 1;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 10px;
  color: black;
  background-color: white;
  position: absolute;
  transform: rotate(0deg);
  transition: 0.4s ease-in-out;
}
header #menu-wrapper #hamburger-menu span:nth-child(1) {
  top: 0;
}
header #menu-wrapper #hamburger-menu span:nth-child(2) {
  top: 9px;
}
header #menu-wrapper #hamburger-menu span:nth-child(3) {
  top: 18px;
}
header #menu-wrapper #hamburger-menu.open span:nth-child(1) {
  transform: translateY(9px) rotate(135deg);
}
header #menu-wrapper #hamburger-menu.open span:nth-child(2) {
  opacity: 0;
  transform: translateX(-60px);
}
header #menu-wrapper #hamburger-menu.open span:nth-child(3) {
  transform: translateY(-9px) rotate(-135deg);
}
header #menu-container .menu-list .menu-submenu {
  padding-top: 20px;
  padding-bottom: 20px;
}
header #menu-container .menu-list {
  padding-left: 0;
  display: block;
  position: absolute;
  width: 100%;
  max-width: 450px;
  background: white;
  box-shadow: rgba(100, 100, 100, 0.2) 6px 2px 10px;
  z-index: 999;
  overflow-y: auto;
  overflow-x: hidden;
  left: -100%;
}
header #menu-container .menu-list li.accordion-toggle,
header #menu-container .menu-list .menu-login {
  font-size: 16px;
  padding: 20px;
  text-transform: uppercase;
  border-top: 1px solid #dbdcd2;
}
header #menu-container .menu-list li:first-of-type {
  border-top: 0;
}
header .accordion-toggle,
header .accordion-content {
  cursor: pointer;
  font-size: 16px;
  position: relative;
  letter-spacing: 1px;
}
header .accordion-content {
  display: none;
}
header .accordion-toggle a:before,
header .accordion-toggle a:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 30px;
  width: 15px;
  height: 2px;
  margin-top: -1px;
  background-color: #5a5858;
  transform-origin: 50% 50%;
  transition: all 0.3s ease-out;
}
header .accordion-toggle a:before {
  transform: rotate(-90deg);
  opacity: 1;
  z-index: 2;
}
header .accordion-toggle.active-tab {
  background: yellowgreen;
  transition: all 0.3s ease;
}
header .accordion-toggle a.active:before {
  transform: rotate(0deg);
  background: #fff !important;
}
header .accordion-toggle a.active:after {
  transform: rotate(180deg);
  background: #fff !important;
  opacity: 0;
}
header .socialMedia {
  margin-top: 20px;
  display: grid;
  justify-content: center;
}
header .socialMedia a {
  color: white;
  text-decoration: none;
}
header .socialMedia a i {
  color: white;
}

#leftMenu {
  width: 100px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  z-index: 20;
}
#leftMenu .topBar {
  height: 100%;
  display: grid;
  align-content: space-between;
}

.headerinside {
  position: fixed;
  height: 100%;
  background-color: #000;
  top: 0px;
  display: grid;
  place-items: center;
  border-left: 2px solid #4e4e4e;
  left: -100%;
  transition-duration: 1s;
  z-index: 10;
}
.headerinside ul {
  padding: 0px;
  padding-left: 40px;
  list-style-type: none;
  padding-right: 140px;
  display: grid;
  row-gap: 30px;
}
.headerinside ul li a {
  font-size: 1.4vw;
  margin-bottom: 2.2vw;
  cursor: pointer;
  min-width: 100%;
  color: #b0ca0a;
  text-decoration: none;
  display: none;
}

.headerinsideActive {
  left: 100px;
  transition-duration: 1s;
}/*# sourceMappingURL=header.css.map */